<div *ngIf="value.length" class="conteiner">
    <div class="carousel">
        <div class="slider">
            <section class="carousel-item" *ngFor="let fact of value; let i = index">
                <ng-container *ngIf="currentItemIndex === i">
                    <button (click)="onMoveCarousel(-1)" class="arrow left"></button>
                    <div class="carousel-content">
                        <p class="center">{{fact.fact}}</p>
                        <button *ngIf="addButton" class="cta center-bottom" (click)="addFactToUser(fact)">Add to my
                            facts</button>
                        <button *ngIf="removeButton" class="cta center-bottom" (click)="removeFactFromUser(fact)">Remove
                            from my
                            facts</button>
                    </div>
                    <button (click)="onMoveCarousel(1)" class="arrow right"></button>
                    <ul>
                        <li [ngClass]="{'selected': currentItemIndex === i}" *ngFor="let fact of value; let i = index"
                            (click)="onMoveCarouselTo(i)">
                        </li>
                    </ul>
                </ng-container>
            </section>
        </div>
    </div>
</div>

<div *ngIf="!value.length" class="error">
    <p>You dont have any facts yet.</p>
    <p>click here to add some</p>
    <a routerLink="/facts" (click)="onClick()">Go To All Facts</a>
</div>