.app-header {
  height: 66px;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
  .logo {
    position: absolute;
    left: 0;
    h1 {
      margin-left: 40px;
      font-weight: 400;
      font-size: 1.8rem;
      letter-spacing: -1px;
      span {
        background-color: #f44238;
        color: #fff;
        padding: 5px 12px;
        font-weight: 300;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-right: 5px;
      }
    }
  }
  nav {
    height: 100%;
    display: flex;
    align-items: center;
    a {
      padding: 23px;
      color: #000514;
      font-size: 0.9rem;
      &:hover {
        box-shadow: inset 0px -4px 0px 0px #f44238;
        transition: all 100ms;
      }
      &.active {
        color: #f44238;
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .app-header {
    height: 50px;
    .logo {
      position: absolute;
      left: 0;
      top: 7px;
      h1 {
        margin-left: 40px;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: -1px;
        span {
          padding: 8px 12px;
        }
      }
    }
    nav {
      position: fixed;
      top: 50px;
      z-index: 10;
      width: 100%;
      height: fit-content;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #dae0ec;
      background: #fff;
      flex-direction: column;
      & > a {
        border-bottom: 1px solid #dae0ec;
        width: 100%;
        padding: 16px;
        font-size: 0.8rem;
      }
      a {
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          box-shadow: none;
          transition: all 100ms;
        }
      }
      &.closed {
        display: none;
      }
    }
  }

  .menu-btn {
    position: absolute;
    top: 25px;
    right: 0;
    width: 60px;
    height: 60px;
  }

  .menu-btn-burger {
    width: 30px;
    height: 3px;
    display: flex;
    align-items: center;
    align-content: center;
    background: #f44238;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #f44238;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-burger::before {
    transform: translateY(-10px);
  }
  .menu-btn-burger::after {
    transform: translateY(10px);
  }

  .menu-btn.clicked .menu-btn-burger {
    transform: translateX(-42px);
    background: #fff;
    background: transparent;
  }
  .menu-btn.clicked .menu-btn-burger::before {
    transform: rotate(45deg) translate(30px, -30px);
    background: #000;
  }
  .menu-btn.clicked .menu-btn-burger::after {
    transform: rotate(-45deg) translate(30px, 30px);
    background: #000;
  }
}
